.flex-center,
.chats-header,
.loading-message,
.empty-message,
.icon,
.box-icon-close {
  display: flex;
  align-content: center;
  justify-content: center;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  width: 95%;
  height: 88dvh;
  margin-top: 10px;
}

.chat-list-container {
  margin-right: 0;
  margin-left: 0;
  width: 35%;
}
.chat-header {
  background: #9df;
  height: 6dvh;
  /* display: flex; */
  /* align-content: center; */
  justify-content: space-between;
  align-items: center;
}

.chat-window {
  width: 100%;
  border-left: 2px solid #d0d0d0;
  background-color: #fafafa;
  border-radius: 8px;
}
.logout-container {
  width: 80%;
  background: #fff;
  padding: 8px 12px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: center;
}
.logo-header {
  height: 6dvh;
  padding: 2px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.loading-message {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  height: 200px;
  font-size: 1.5rem;
  color: #333;
}

.sticky-header {
  position: sticky;
  top: 0;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  background-color: #4a90e2;
  z-index: 100;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-window-container {
  margin-right: 0;
  width: 80%;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
}
.chat-list {
  height: 78dvh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0px 10px 0px 10px;
}
.chat-list ul {
  padding-left: 0px;
  list-style-type: circle;
  margin-top: 6px;
}

.chat-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 4px;
  background-color: #e7f0fd;
  transition: background-color 0.3s ease;
  justify-content: space-between;
}

.chat-list-item:hover {
  /* background-color: #d0e7fd; */
  background-color: #c6e1fa;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 6px;
  overflow: scroll;
  overflow-x: hidden;
  height: 74dvh;
  border-radius: 8px;
}

.message {
  margin-bottom: 15px;
  padding: 10px 15px 8px 4px;
  max-width: 80%;
  word-wrap: break-word;
  word-break: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
}

.message.human {
  background-color: #d4edda;
  align-self: flex-start;
  text-align: left;
  color: #155724;
  border-radius: 10px;
}

.title-chats {
  text-align: center;
  margin: 0%;
  margin-right: 35px;
}
/* .title-chats-open{ */
/* margin-right: 35px; */
/* } */
/* .chat-header-open-search{ */
.chats-header {
  padding: 10px 30px;
}
.chats-header div svg {
  cursor: pointer;
}
.search-icon-box {
  display: flex;
  align-content: center;
  position: relative;

  /* display: none; */
}
/* .search-icon-box svg{
  cursor: pointer;
} */
.search-icon-box svg:nth-child(2) {
  opacity: 0;
  position: absolute;
  right: 0px;
}
.search-icon-box svg:nth-child(2):hover {
  opacity: 1;
}
svg g {
  mix-blend-mode: normal;
}
g,
path {
  pointer-events: none;
}
.search-box {
  margin: 0 10px;
  padding: 8px 16px;
  color: #234d9d;
  border-radius: 15px;
  border: 2px solid #234d9d;
  background-color: #f0f0f0;
  font-size: 14px;
  outline: none;
  width: 40%;
}

.search-box.active {
  display: block;
  height: auto;
  padding: 10px 16px;
  border-color: #3f8cff;
  background-color: #ffffff;
}

.search-icon-gone svg {
  display: none;
}
.icon-close {
  display: none;
}

.message.ai {
  background-color: #d7dff8;
  align-self: flex-end;
  text-align: left;
  color: #361c72;
  border-radius: 10px;
}

.empty-message {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  font-size: 24px;
  color: #888;
  text-align: center;
}

.empty-message:before {
  content: "Seleccione un Chat para comenzar";
}

.thumb-icon {
  font-size: 1.5em;
  margin: 0 5px;
}
.status-icon {
  font-size: 0.8em;
  margin-right: 5px;
}

.status-icon.open {
  color: green;
}

.status-icon.closed {
  color: red;
}

.chat-header,
.chats-header {
  /* .chat-header { */
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(
    135deg,
    rgba(117, 210, 255, 0.2),
    rgba(207, 215, 221, 0.2)
  );
  color: #234d9d;
  text-shadow: #fff 0px 0px 2px;
}
/* .chats-header{
  justify-content: center;
  padding: 6px;
} */

.status-label {
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}

.status-label.open {
  background-color: #00800088;
  border: solid 1px green;
  color: white;
  text-shadow: green 0px 0px 1px;
}

.status-label.closed {
  background-color: #f009;
  border: solid 1px red;
  color: white;
  text-shadow: #f00 0px 0px 1px;
}

.icon {
  /* display: flex; */
  /* justify-content: center; */
  align-items: center;
  background: #fff;
  border-radius: 10px;
  margin: 6px 12px 6px 6px;
  padding: 4px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content small {
  align-self: end;
}
.message .hour {
  color: gray;
  margin-left: 5px;
  font-size: 11px;
}
.tag-closed,
.tag-open {
  color: white;
  background: #ff000080;
  border: solid 1px red;
  border-radius: 12px;
  padding: 0px 5px;
  font-weight: bold;
  text-shadow: #f00 0px 0px 1px;
}
.tag-open {
  background: #00800088;
  border: solid 1px green;
  text-shadow: green 0px 0px 1px;
}
.logout-container button {
  font-size: 16px;
  color: #234d9d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    135deg,
    rgba(117, 210, 255, 0.2),
    rgba(207, 215, 221, 0.2)
  );
  text-shadow: #fff 0px 0px 2px;
  height: 6vh;
}

.logout-container button:hover {
  background-color: #234d9d;
  color: #fff;
  text-shadow: none;
}
.feedback-container {
  margin-left: 8px;
}
.message-empty {
  padding: 10px;
  width: 80%;
  justify-content: center;
  align-self: center;
}
.selectedChat {
  background: #9fcaf4;
}
