.dashboard {
  display: flex;
  grid-template-columns: 1fr 3fr;
  gap: 30px;
  padding: 65px;
  justify-items: center;
  align-items: center;
  width: 90%;
}

.main-container {
  display: flex;
  grid-template-columns: 1fr 2fr;
  max-width: 1400px;
  max-height: flex;
  background-color: #fff;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
}

.chat-list-container {
  grid-column: 1 / span 1;
  margin-right: 0;
  margin-left: 0;
}

.chat-window {
  grid-column: 2 / span 1;
  width: 1165px; 
  max-height: 750px;
  padding: 20px; 
  border-left: 2px solid #d0d0d0;
  background-color: #fafafa;
  overflow-y: auto;
}
.logout-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.loading-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  font-size: 1.5rem; 
  color: #333; 
}

.sticky-header {
  position: sticky;
  top: 0;
  font-weight: 700;
  color: #fff;
  border-radius: 10px;
  background-color: #4a90e2;
  z-index: 100; 
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}


.chat-window-container {
  grid-column: 2 / span 1;
  margin-right: 0;
}

.card {
  padding: 30px; 
  border: 2px solid #bbb;
  border-radius: 10px;
  overflow-y: scroll;
  height: 750px;
  background-color: #fff;
}
.card-list{
  height: 750px;
  width: 400px;
}
.card h2 {
  margin-bottom: 15px;
  color: #333;
}

.card ul {
  list-style-type: circle;
  padding-left: 20px;
  margin-top: 10px;
}

.card ul li {
  cursor: pointer;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: #e7f0fd;
  transition: background-color 0.3s ease;
}

.card ul li:hover {
  background-color: #d0e7fd;
}

.messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

.message {
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 12px;
  max-width: 80%;
  word-wrap: break-word;
  word-break: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message.human {
  background-color: #d4edda;
  align-self: flex-end;
  text-align: right;
  color: #155724;
}

.title-chats{
  text-align: center;
  margin-top: 0%
}

.message.ai {
  background-color: #d7dff8;
  align-self: flex-start;
  text-align: left;
  color: #361c72;
}

.empty-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  font-size: 24px; 
  color: #888;
  text-align: center;
}

.empty-message:before {
  content: "Seleccione un Chat para comenzar";
}

.thumb-icon {
  font-size: 1.5em;
  margin: 0 5px;
}
.status-icon {
  font-size: 0.8em;
  margin-right: 5px;
}

.status-icon.open {
  color: green;
}

.status-icon.closed {
  color: red;
}

.chat-list-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.status-label {
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.status-label.open {
  background-color: green;
  color: white;
}

.status-label.closed {
  background-color: red;
  color: white;
}
