:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --background-color: #f0f0f0; 
  --text-color: #333; 
  --input-background-color: #ffffff; 
  --input-text-color: #333; 
  --button-background-color: #1e88e5; 
  --button-text-color: #ffffff; 
  --nav-background-color: #e0e0e0; 
  --link-color: #1e88e5;
  --error-background-color: #cf6679; 
  --error-text-color: #ffffff; 
  --box-background-color: #ffffff; 
  --box-border-color: #ccc; 
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

label {
  display: block;
  color: var(--text-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
}

.image-box,
.login-box {
  background-color: var(--box-background-color);
  border: 1px solid var(--box-border-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px; 
  height: 40%;
  height: 60dvh;
}

.image-box {
  background: linear-gradient(135deg, rgba(164, 225, 255, 0.1), rgba(243, 102, 255, 0));
  border: none;
}

.login-image {
  max-width: 100%;
  height: auto;
}

.form {
  width: 75%; 
}

input[type="text"],
input[type="password"] {
  display: block;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 5px 0 10px 0;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid #444;
}

input[type="button"],
button {
  background-color: var(--button-background-color);
  padding: 10px;
  border: 0;
  min-width: 100px;
  border-radius: 5px;
  color: var(--button-text-color);
  margin-right: 0.8px;
}

nav {
  background-color: var(--nav-background-color);
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.errorMessage {
  background-color: var(--error-background-color);
  color: var(--error-text-color);
  padding: 10px;
}

.login-btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.login-btn-group button{
  background-color: #234D9D;
  font-size: 15px;
}

.title, .title-r{
  font-size: 48px;
  margin: 0px 0px 20px 0px;
  color: #234D9D;
}
.title-r{
  font-size: 40px;
}

.login-group{
  display: flex;
  width: 56%;
  height: 72dvh;
  justify-content: space-evenly;
  align-items: center;
  backdrop-filter: blur(10px);
  background: #fff;
  border-radius: 10px;
}

.input-group input{
  border-radius: 4px;
}